In [59]:
import numpy as np
import pandas as pd
from collections import Counter
from astropy.io.fits import getdata
from astropy import units as u
from astropy.coordinates import SkyCoord, Angle
from astroquery.vizier import Vizier
from astropy.table import Table
from astroquery.xmatch import XMatch
from astroquery.simbad import Simbad
import time


import sys  
sys.path.insert(0, '../')

from prepare_library import create_perobs_data, cal_ave
from TD_dictionary import rare_sources_saving_dict 

import warnings
warnings.filterwarnings('ignore')

Vizier.ROW_LIMIT = -1
exnum = -999999.

In [2]:
field_name = 'CSCv2_TD_11162022'
df_TD_final = pd.read_csv('./data/CSCv2_TD_11162022_final.csv')
df_TD_final['name']

# extract per-observation data from CSCv2 
query_dir = '../data/query'

data_dir = './data'

In [4]:

df_pers = create_perobs_data(df_TD_final, query_dir, data_dir, name_type='CSCview', name_col='name', ra_col='ra',dec_col='dec',coord_format='deg',engine='wget')
df_pers.to_csv(f'{data_dir}/{field_name}_per.csv', index=False)

Operating system is: posix

In [5]:
# Calculate the weighted average fluxes and variability parameters for X-ray properties
# Will generate warnings but they can be ignored.

df_pers = pd.read_csv(f'{data_dir}/{field_name}_per.csv', low_memory=False)

df_pers['name'] = df_pers['name'].str.lstrip()
df_pers['per_remove_code'] = 0

newdata_dir = '/Users/huiyang/Research/GitHub/MUWCLASS_CSCv2/codes/buildTD/data'
df_ave, df_obs = cal_ave(df_pers, data_dir=newdata_dir, dtype='TD',Chandratype='CSC')


df_ave = pd.merge(df_ave, df_TD_final.iloc[:, np.r_[:9]], how='inner', on='name')
print(Counter(df_ave.Class))
df_ave.to_csv(f'{data_dir}/{field_name}_ave.csv', index=False)

There are 20360 per-obs data.
Run add_newdata......
Before adding new data:
Run stats......
 H   M   S    #    %
--- --- --- ----- ----
  Y   Y   Y 15771 77.4
  Y   Y   N   962  4.7
  N   Y   Y   588  2.8
  Y   N   Y   344  1.6
  N   Y   N    99  0.4
  Y   N   N   504  2.4
  N   N   Y   271  1.3
  N   N   N  1821  8.9
 ~Y   Y   Y  4589 22.5
-----------------
total:      20360
Only  15771  detections have valid fluxes at all bands.
After adding new  2289 s band data:
Run stats......
 H   M   S    #    %
--- --- --- ----- ----
  Y   Y   Y 16241 79.7
  Y   Y   N   492  2.4
  N   Y   Y   621  3.0
  Y   N   Y   529  2.5
  N   Y   N    66  0.3
  Y   N   N   319  1.5
  N   N   Y   391  1.9
  N   N   N  1701  8.3
 ~Y   Y   Y  4119 20.2
-----------------
total:      20360
Only  16241  detections have valid fluxes at all bands.
After adding new  1420 m band data:
Run stats......
 H   M   S    #    %
--- --- --- ----- ----
  Y   Y   Y 16510 81.0
  Y   Y   N   493  2.4
  N   Y   Y   773  3.7
  Y   N   Y   260  1.2
  N   Y   N    70  0.3
  Y   N   N   318  1.5
  N   N   Y   239  1.1
  N   N   N  1697  8.3
 ~Y   Y   Y  3850 18.9
-----------------
total:      20360
Only  16510  detections have valid fluxes at all bands.
After adding new  845 h band data:
Run stats......
 H   M   S    #    %
--- --- --- ----- ----
  Y   Y   Y 16815 82.5
  Y   Y   N   499  2.4
  N   Y   Y   468  2.2
  Y   N   Y   280  1.3
  N   Y   N    64  0.3
  Y   N   N   318  1.5
  N   N   Y   219  1.0
  N   N   N  1697  8.3
 ~Y   Y   Y  3545 17.4
-----------------
total:      20360
Only  16815  detections have valid fluxes at all bands.
Run nan_flux......
Counter({'AGN': 1419, 'YSO': 750, 'LM-STAR': 711, 'CV': 215, 'HM-STAR': 163, 'NS': 119, 'LMXB': 65, 'HMXB': 46, 'NS_BIN': 43})

3821 Counter({'AGN': 1571, 'YSO': 754, 'LM-STAR': 743, 'CV': 236, 'HM-STAR': 167, 'NS': 134, 'LMXB': 98, 'HMXB': 74, 'NS_BIN': 44})
3531 Counter({'AGN': 1419, 'YSO': 750, 'LM-STAR': 711, 'CV': 215, 'HM-STAR': 163, 'NS': 119, 'LMXB': 65, 'HMXB': 46, 'NS_BIN': 43})
                        name          name_cat    ra_cat  dec_cat  e_Pos  \
3159  2CXO J171236.7-373841X  SAX J1712.6-3739  258.1531 -37.6447    NaN

     Class SubClass                         ref       sep          ra  ...  \
3159  LMXB   LMXB;X  2018ApJS..235....4O;SIMBAD  0.305714  258.153201  ...

         r1   PA     PU  nbref  coo_bibcode  rare-type remove_regions  \
3159  1.137  0.0  1.137    NaN          NaN          1   |CSCconfused

            GLAT      GLON  comment
3159  348.938954  0.919325      NaN

[1 rows x 22 columns]

In [4]:
field_name = 'CSCv2_TD_10182022'
df_ave = pd.read_csv(f'{data_dir}/{field_name}_ave.csv')
df_TD_final = pd.read_csv(f'./data/{field_name}_final.csv')


print(len(df_TD_final),Counter(df_TD_final['Class']))

print(len(df_ave),Counter(df_ave['Class']))

3428 Counter({'AGN': 1552, 'YSO': 754, 'LM-STAR': 673, 'HM-STAR': 133, 'NS': 111, 'CV': 68, 'LMXB': 58, 'HMXB': 52, 'NS_BIN': 27})
3177 Counter({'AGN': 1403, 'YSO': 750, 'LM-STAR': 644, 'HM-STAR': 129, 'NS': 97, 'CV': 53, 'LMXB': 41, 'HMXB': 33, 'NS_BIN': 27})

In [13]:
field_name = 'CSCv2_TD_11042022'
df_ave = pd.read_csv(f'{data_dir}/{field_name}_ave.csv')

df_TD_final = pd.read_csv(f'./data/{field_name}_final.csv')

print(len(df_TD_final),Counter(df_TD_final['Class']))

print(len(df_ave),Counter(df_ave['Class']))

3429 Counter({'AGN': 1552, 'YSO': 754, 'LM-STAR': 673, 'HM-STAR': 133, 'NS': 113, 'CV': 65, 'LMXB': 57, 'HMXB': 55, 'NS_BIN': 27})
3164 Counter({'AGN': 1403, 'YSO': 750, 'LM-STAR': 644, 'HM-STAR': 129, 'NS': 98, 'CV': 51, 'HMXB': 32, 'LMXB': 30, 'NS_BIN': 27})

In [20]:
field_name = 'CSCv2_TD_11162022'
df_ave = pd.read_csv(f'{data_dir}/{field_name}_ave.csv')
df_TD_final = pd.read_csv(f'./data/{field_name}_final.csv')


print(len(df_TD_final),Counter(df_TD_final['Class']))

print(len(df_ave),Counter(df_ave['Class']))
#print(df_TD_final[df_TD_final['name']=='2CXO J171236.7-373841X'])

3821 Counter({'AGN': 1571, 'YSO': 754, 'LM-STAR': 743, 'CV': 236, 'HM-STAR': 167, 'NS': 134, 'LMXB': 98, 'HMXB': 74, 'NS_BIN': 44})
3531 Counter({'AGN': 1419, 'YSO': 750, 'LM-STAR': 711, 'CV': 215, 'HM-STAR': 163, 'NS': 119, 'LMXB': 65, 'HMXB': 46, 'NS_BIN': 43})

In [116]:
field_name = 'CSCv2_TD_11162022'
#field_name = 'CSCv2_TD_11042022'
TD_MW = pd.read_csv(f'../nway_cross-matching/{field_name}_MW.csv')

#print(TD_MW[~TD_MW['name'].isin(df_TD_final['name'])])
print(TD_MW[TD_MW['name'].isin(['2CXO J171236.7-373841','2CXO J171236.7-373841X'])])
print(len(TD_MW['name'].unique()))
print(TD_MW['match_flag'].value_counts())

TD_MW = TD_MW[TD_MW['match_flag']==1].reset_index(drop=True)

      CSC_ID      CSC_RA    CSC_DEC  CSC_err_r0  CSC_err_r1  CSC_PA  \
3344       1  258.153201 -37.644729       1.137       1.137     0.0
3345       2  258.153220 -37.644746       0.710       0.710     0.0

              CSC__2CXO  CSC__r  CSC_fe  CSC_fc  ...  ncat  dist_bayesfactor  \
3344  J171236.7-373841X   0.031       1      63  ...     1               0.0
3345   J171236.7-373841   0.083       1       0  ...     1               0.0

      dist_bayesfactor_corrected  dist_post  p_single  p_any  p_i  match_flag  \
3344                         0.0        1.0       1.0    0.0  0.0           1
3345                         0.0        1.0       1.0    0.0  0.0           1

                        name  Gaia
3344  2CXO J171236.7-373841X   -99
3345   2CXO J171236.7-373841   -99

[2 rows x 105 columns]
3822
1    3822
2     257
Name: match_flag, dtype: int64

In [117]:
print(df_ave.columns,TD_MW.columns[:60])

df_comb = pd.merge(df_ave, TD_MW, on='name', how='inner')
print(len(df_comb))
df_comb = pd.merge(df_comb, df_TD_final[['name','rare-type', 'remove_regions', 'GLAT', 'GLON','comment']], on='name', how='inner')

Index(['name', 'usrid', 'ra_pnt', 'dec_pnt', 'ra', 'dec', 'err_ellipse_r0',
       'err_ellipse_r1', 'err_ellipse_ang', 'significance', 'extent_flag',
       'pileup_flag', 'sat_src_flag', 'streak_src_flag', 'conf_flag',
       'flux_aper90_mean_b', 'e_flux_aper90_mean_b', 'flux_aper90_mean_h',
       'e_flux_aper90_mean_h', 'flux_aper90_mean_m', 'e_flux_aper90_mean_m',
       'flux_aper90_mean_s', 'e_flux_aper90_mean_s', 'kp_intra_prob_b',
       'ks_intra_prob_b', 'var_inter_prob_b', 'nh_gal', 'flux_powlaw_mean',
       'e_flux_powlaw_mean', 'powlaw_gamma_mean', 'e_powlaw_gamma_mean',
       'powlaw_nh_mean', 'e_powlaw_nh_mean', 'powlaw_ampl_mean',
       'e_powlaw_ampl_mean', 'powlaw_stat', 'remove_code',
       'flux_significance_b_max', 'flux_aper90_ave_s', 'e_flux_aper90_ave_s',
       'flux_aper90_ave_m', 'e_flux_aper90_ave_m', 'flux_aper90_ave_h',
       'e_flux_aper90_ave_h', 'chisqr', 'dof', 'kp_prob_b_max',
       'var_inter_prob', 'significance_max', 'flux_flag', 'flux_aper90_ave_b',
       'e_flux_aper90_ave_b', 'name_cat', 'ra_cat', 'dec_cat', 'e_Pos',
       'Class', 'SubClass', 'ref', 'sep'],
      dtype='object') Index(['CSC_ID', 'CSC_RA', 'CSC_DEC', 'CSC_err_r0', 'CSC_err_r1', 'CSC_PA',
       'CSC__2CXO', 'CSC__r', 'CSC_fe', 'CSC_fc', 'GAIA_RA', 'GAIA_DEC',
       'GAIA_PU', 'GAIA_Source', 'GAIA__r', 'GAIA_e_Pos', 'GAIA_Plx',
       'GAIA_e_Plx', 'GAIA_PM', 'GAIA_e_PM', 'GAIA_epsi', 'GAIA_Gmag',
       'GAIA_BPmag', 'GAIA_RPmag', 'GAIA_e_Gmag', 'GAIA_e_BPmag',
       'GAIA_e_RPmag', 'TMASS_RA', 'TMASS_DEC', 'TMASS_err0', 'TMASS_err1',
       'TMASS_errPA', 'TMASS__2MASS', 'TMASS__r', 'TMASS_Jmag', 'TMASS_Hmag',
       'TMASS_Kmag', 'TMASS_e_Jmag', 'TMASS_e_Hmag', 'TMASS_e_Kmag',
       'ALLWISE_RA', 'ALLWISE_DEC', 'ALLWISE_err0', 'ALLWISE_err1',
       'ALLWISE_errPA', 'ALLWISE_AllWISE', 'ALLWISE__r', 'ALLWISE_W1mag',
       'ALLWISE_W2mag', 'ALLWISE_W3mag', 'ALLWISE_W4mag', 'ALLWISE_e_W1mag',
       'ALLWISE_e_W2mag', 'ALLWISE_e_W3mag', 'ALLWISE_e_W4mag', 'CATWISE_RA',
       'CATWISE_DEC', 'CATWISE_PU', 'CATWISE_Name', 'CATWISE__r'],
      dtype='object')
3531

In [118]:
print(df_comb.columns[50:100])
print(df_TD_final.columns)

Index(['flux_aper90_ave_b', 'e_flux_aper90_ave_b', 'name_cat', 'ra_cat',
       'dec_cat', 'e_Pos', 'Class', 'SubClass', 'ref', 'sep', 'CSC_ID',
       'CSC_RA', 'CSC_DEC', 'CSC_err_r0', 'CSC_err_r1', 'CSC_PA', 'CSC__2CXO',
       'CSC__r', 'CSC_fe', 'CSC_fc', 'GAIA_RA', 'GAIA_DEC', 'GAIA_PU',
       'GAIA_Source', 'GAIA__r', 'GAIA_e_Pos', 'GAIA_Plx', 'GAIA_e_Plx',
       'GAIA_PM', 'GAIA_e_PM', 'GAIA_epsi', 'GAIA_Gmag', 'GAIA_BPmag',
       'GAIA_RPmag', 'GAIA_e_Gmag', 'GAIA_e_BPmag', 'GAIA_e_RPmag', 'TMASS_RA',
       'TMASS_DEC', 'TMASS_err0', 'TMASS_err1', 'TMASS_errPA', 'TMASS__2MASS',
       'TMASS__r', 'TMASS_Jmag', 'TMASS_Hmag', 'TMASS_Kmag', 'TMASS_e_Jmag',
       'TMASS_e_Hmag', 'TMASS_e_Kmag'],
      dtype='object')
Index(['name', 'name_cat', 'ra_cat', 'dec_cat', 'e_Pos', 'Class', 'SubClass',
       'ref', 'sep', 'ra', 'dec', 'r0', 'r1', 'PA', 'PU', 'nbref',
       'coo_bibcode', 'rare-type', 'remove_regions', 'GLAT', 'GLON',
       'comment'],
      dtype='object')

In [119]:
#TD_MW = 

#raretype_GalacticBulge = df_comb[df_comb['rare-type']==1]

In [120]:
#t = Table.from_pandas(df_comb.loc[(df_comb['GAIA_Source']!=-99) & (df_comb['GAIA_Source']!=1e20), ['GAIA_Source','CSC__2CXO']])

TD_gaia = df_comb.loc[(df_comb['GAIA_Source']!=-99) & (df_comb['GAIA_Source']!=1e20), ['GAIA_Source','CSC__2CXO']].reset_index(drop=True)
print(TD_gaia)
t = Table.from_pandas(TD_gaia)
t.write('./data/TD_Gaia.fits', overwrite=True)

              GAIA_Source         CSC__2CXO
0     2848205298895660416  J000150.5+233015
1     2860586826320959232  J001826.4+300400
2      423793597149050752  J005240.0+562837
3      313508874324686208  J010705.6+321056
4     2579513759765160448  J011142.0+085149
...                   ...               ...
2620  2738473415672342144  J235718.3+004350
2621  2738267669559100544  J235833.2+003453
2622  6488149125448220800  J235904.2-605459
2623  2335101047989043200  J235939.7-250056
2624  2312679982969581184  J235942.1-345953

[2625 rows x 2 columns]

In [121]:
TD_Gaiadist = Table.read(f'./data/{field_name}_Gaiadist.vot').to_pandas()

TD_Gaiadist = TD_Gaiadist.rename(columns={'gaia_source':'GAIA_Source', 'r_med_geo':'rgeo','r_lo_geo':'b_rgeo','r_hi_geo':'B_rgeo'})

TD_Gaiadist

,td_gaia_1116_oid,GAIA_Source,csc__2cxo,source_id,rgeo,b_rgeo,B_rgeo,r_med_photogeo,r_lo_photogeo,r_hi_photogeo,flag
0,1,2848205298895660416,J000150.5+233015,2848205298895660416,190.325455,189.537354,190.873550,190.309402,189.739410,190.800888,10033
1,2,2860586826320959232,J001826.4+300400,2860586826320959232,1090.344238,1071.469482,1109.249023,1081.566895,1064.833862,1099.735474,10033
2,3,423793597149050752,J005240.0+562837,423793597149050752,279.919128,278.484192,281.259705,280.002930,278.943024,281.291962,10033
3,4,313508874324686208,J010705.6+321056,313508874324686208,336.586426,324.778503,348.501251,337.011963,327.051025,349.826843,10033
4,5,2579513759765160448,J011142.0+085149,2579513759765160448,663.244690,646.929932,677.217773,661.934021,640.590393,680.602051,10033
...,...,...,...,...,...,...,...,...,...,...,...
2305,2618,2867212625125183488,J235456.4+292832,2867212625125183488,115.925903,113.431839,118.614845,115.725143,113.246025,118.208130,10022
2306,2619,2449783654115281920,J235653.8-010731,2449783654115281920,2102.238281,1273.646851,3019.776855,13043.077148,3737.615234,16858.285156,20133
2307,2621,2738473415672342144,J235718.3+004350,2738473415672342144,1977.620605,904.937622,3259.827637,2939.993408,2385.917236,3454.502686,10033
2308,2624,2335101047989043200,J235939.7-250056,2335101047989043200,2239.543457,1393.408081,3020.735596,5175.990234,4410.054688,6247.561035,10033
2309,2625,2312679982969581184,J235942.1-345953,2312679982969581184,207.098572,206.249954,207.836655,207.056961,206.334579,207.688919,10033

In [122]:
TD_Gaiadist[TD_Gaiadist['GAIA_Source']==5337418019842027648]

,td_gaia_1116_oid,GAIA_Source,csc__2cxo,source_id,rgeo,b_rgeo,B_rgeo,r_med_photogeo,r_lo_photogeo,r_hi_photogeo,flag
1387,1582,5337418019842027648,J111507.2-611538,5337418019842027648,4736.921387,2453.73877,7126.81543,753.298096,641.85437,2204.371094,11033
1388,1583,5337418019842027648,J111507.4-611538,5337418019842027648,4736.921387,2453.73877,7126.81543,753.298096,641.85437,2204.371094,11033

In [123]:
print(len(df_comb), len(TD_Gaiadist))
df_comb = pd.merge(df_comb, TD_Gaiadist[['GAIA_Source','rgeo','b_rgeo','B_rgeo']], on='GAIA_Source', how='outer')
print(len(df_comb))
df_comb = df_comb[~df_comb.duplicated(subset=['name'],keep=False)].reset_index(drop=True)
print(len(df_comb))

3531 2310
3533
3529

In [124]:
print(len(df_comb['name'].unique()))
print(df_comb.loc[df_comb.duplicated(subset=['name'],keep=False), ['name','Class']])

3529
Empty DataFrame
Columns: [name, Class]
Index: []

In [125]:
df_comb['rgeo'].describe()

count     2308.000000
mean      2419.191895
std       2967.382568
min         31.408976
25%        398.655060
50%       1419.086548
75%       3416.477295
max      38760.664062
Name: rgeo, dtype: float64

In [126]:
len(df_comb['p_any'])

3529

In [127]:
df_comb[['var_inter_prob_b','var_inter_prob']]

      var_inter_prob_b  var_inter_prob
0                  NaN             NaN
1                  NaN             NaN
2                  NaN             NaN
3                  1.0             NaN
4                  1.0             1.0
...                ...             ...
3524               NaN             NaN
3525               NaN             NaN
3526               NaN             NaN
3527               NaN             NaN
3528               NaN             NaN

[3529 rows x 2 columns]

In [128]:
df_comb.columns[100:140]

Index(['ALLWISE_RA', 'ALLWISE_DEC', 'ALLWISE_err0', 'ALLWISE_err1',
       'ALLWISE_errPA', 'ALLWISE_AllWISE', 'ALLWISE__r', 'ALLWISE_W1mag',
       'ALLWISE_W2mag', 'ALLWISE_W3mag', 'ALLWISE_W4mag', 'ALLWISE_e_W1mag',
       'ALLWISE_e_W2mag', 'ALLWISE_e_W3mag', 'ALLWISE_e_W4mag', 'CATWISE_RA',
       'CATWISE_DEC', 'CATWISE_PU', 'CATWISE_Name', 'CATWISE__r',
       'CATWISE_W1mproPM', 'CATWISE_W2mproPM', 'CATWISE_e_W1mproPM',
       'CATWISE_e_W2mproPM', 'Separation_GAIA_CSC', 'Separation_GAIA_CSC_ra',
       'Separation_GAIA_CSC_dec', 'Separation_TMASS_CSC',
       'Separation_TMASS_CSC_ra', 'Separation_TMASS_CSC_dec',
       'Separation_TMASS_GAIA', 'Separation_TMASS_GAIA_ra',
       'Separation_TMASS_GAIA_dec', 'Separation_ALLWISE_CSC',
       'Separation_ALLWISE_CSC_ra', 'Separation_ALLWISE_CSC_dec',
       'Separation_ALLWISE_GAIA', 'Separation_ALLWISE_GAIA_ra',
       'Separation_ALLWISE_GAIA_dec', 'Separation_ALLWISE_TMASS'],
      dtype='object')

In [129]:
catalogs = {'GAIA': ['Gmag','BPmag','RPmag'], 
            'TMASS': ['Jmag','Hmag','Kmag' ],
            'ALLWISE': ['W1mag','W2mag','W3mag','W4mag'],
            'CATWISE':['W1mproPM','W2mproPM']}
for cat in catalogs:
    for col in catalogs[cat]:
        print(col)
        df_comb = df_comb.rename(columns={cat+'_'+col:col, cat+'_e_'+col:'e_'+col})

Gmag
BPmag
RPmag
Jmag
Hmag
Kmag
W1mag
W2mag
W3mag
W4mag
W1mproPM
W2mproPM

In [130]:
df_comb['W1mag']

0       10.510
1      -99.000
2      -99.000
3      -99.000
4      -99.000
         ...
3524    16.198
3525    14.292
3526    12.631
3527    15.243
3528     6.769
Name: W1mag, Length: 3529, dtype: float64

In [131]:
df_comb.columns[:50]

Index(['name', 'usrid', 'ra_pnt', 'dec_pnt', 'ra', 'dec', 'err_ellipse_r0',
       'err_ellipse_r1', 'err_ellipse_ang', 'significance', 'extent_flag',
       'pileup_flag', 'sat_src_flag', 'streak_src_flag', 'conf_flag',
       'flux_aper90_mean_b', 'e_flux_aper90_mean_b', 'flux_aper90_mean_h',
       'e_flux_aper90_mean_h', 'flux_aper90_mean_m', 'e_flux_aper90_mean_m',
       'flux_aper90_mean_s', 'e_flux_aper90_mean_s', 'kp_intra_prob_b',
       'ks_intra_prob_b', 'var_inter_prob_b', 'nh_gal', 'flux_powlaw_mean',
       'e_flux_powlaw_mean', 'powlaw_gamma_mean', 'e_powlaw_gamma_mean',
       'powlaw_nh_mean', 'e_powlaw_nh_mean', 'powlaw_ampl_mean',
       'e_powlaw_ampl_mean', 'powlaw_stat', 'remove_code',
       'flux_significance_b_max', 'flux_aper90_ave_s', 'e_flux_aper90_ave_s',
       'flux_aper90_ave_m', 'e_flux_aper90_ave_m', 'flux_aper90_ave_h',
       'e_flux_aper90_ave_h', 'chisqr', 'dof', 'kp_prob_b_max',
       'var_inter_prob', 'significance_max', 'flux_flag'],
      dtype='object')

In [132]:
exnum = -99.
for w in ['W1', 'W2']:
    df_comb[w+'mag_comb'] = df_comb[w+'mag']
    df_comb['e_'+w+'mag_comb'] = df_comb['e_'+w+'mag']
    s= np.where((df_comb[w+'mag_comb']==exnum) & (df_comb[w+'mproPM']!=exnum))[0]
    print(sorted(Counter(df_comb.loc[s,'Class']).items()), 'use ',w,' from CATWISE rather than ALLWISE.')
    df_comb.loc[s, w+'mag_comb'] = df_comb.loc[s, w+'mproPM']
    df_comb.loc[s, 'e_'+w+'mag_comb'] = df_comb.loc[s, 'e_'+w+'mproPM']

[('AGN', 166), ('CV', 9), ('HM-STAR', 8), ('HMXB', 7), ('LM-STAR', 18), ('LMXB', 3), ('NS', 2), ('NS_BIN', 5), ('YSO', 65)] use  W1  from CATWISE rather than ALLWISE.
[('AGN', 166), ('CV', 9), ('HM-STAR', 8), ('HMXB', 7), ('LM-STAR', 18), ('LMXB', 3), ('NS', 2), ('NS_BIN', 5), ('YSO', 65)] use  W2  from CATWISE rather than ALLWISE.

In [133]:
# df_comb.loc[df_comb['p_any']==0., ['GAIA_Source','TMASS__2MASS','ALLWISE_AllWISE','CATWISE_Name']]

#df_comb['rgeo'] = 1000
df_comb = df_comb.replace({-99.:np.nan})
df_comb = df_comb.replace({1e20:np.nan})
df_comb['Class'] = df_comb['Class'].replace({'NS_BIN':'LMXB'})

In [134]:
print(len(df_comb))
df_comb_sel = df_comb[(df_comb['name'].isin(rare_sources_saving_dict)) | (df_comb['remove_regions'].isnull())].reset_index(drop=True)
print(len(df_comb_sel),'\n',df_comb_sel['Class'].value_counts())

df_comb_sel.to_csv(f'./data/{field_name}_MW_comb.csv',index=False)

3529
3174
 AGN        1403
YSO         750
LM-STAR     644
HM-STAR     127
NS           99
LMXB         66
CV           51
HMXB         34
Name: Class, dtype: int64

In [135]:
raretype_GB = df_comb[(df_comb['rare-type']==1) & (df_comb['remove_regions']=='|GalacticCenter')].reset_index(drop=True)
print(len(raretype_GB),'\n',raretype_GB['Class'].value_counts())

raretype_GB.to_csv(f'./data/{field_name}_raretype_GB.csv',index=False)

89
 CV      54
LMXB    24
NS       8
HMXB     3
Name: Class, dtype: int64

In [138]:
XCLASS_remove = {
    # LM-STAR to the up right of MS, confused with YSO
    "2CXO J013632.0+154507","2CXO J022635.3+621937","2CXO J043019.1+351745","2CXO J053515.7-052424","2CXO J053517.8-052430",
    "2CXO J053524.9-052401","2CXO J053525.3-052345","2CXO J053525.4-052333","2CXO J074108.5+202544","2CXO J122745.2+130012",
    "2CXO J131218.4-623730","2CXO J162812.2-245044","2CXO J184632.0-025724","2CXO J200509.2+322201","2CXO J203323.0+411222",
    "2CXO J203342.9+413000","2CXO J205821.5+435344","2CXO J231340.7+612828",
    # LM-STAR to the up left of MS, confused with HM-STAR
    "2CXO J055202.2+323043","2CXO J055222.1+323843","2CXO J110435.9-584520","2CXO J205448.6-582715",
    # HM-STAR to the up right of MS, confused with YSO
    "2CXO J055202.2+323043","2CXO J055222.1+323843","2CXO J061254.9+175920","2CXO J104517.2-594701","2CXO J104530.2-594820",
    "2CXO J110435.9-584520","2CXO J205448.6-582715","2CXO J231331.8+612747",
    # YSO
    "2CXO J053528.6-044816",
    }

In [140]:
print(len(df_comb_sel))
df_comb_sel = df_comb_sel[~df_comb_sel['name'].isin(XCLASS_remove)].reset_index(drop=True)
print(len(df_comb_sel))
print(df_comb_sel['Class'].value_counts())

df_comb_sel.to_csv(f'./data/{field_name}_MW_comb.csv',index=False)

3147
3147
AGN        1403
YSO         749
LM-STAR     622
HM-STAR     123
NS           99
LMXB         66
CV           51
HMXB         34
Name: Class, dtype: int64

In [136]:
df_comb['Gmag'].max()

21.852835